body {
    margin: 0px;
    font-family: Verdana, Arial;
    font-size: 12px;
    color: #333333;
    
    }

/*div {
    margin: 0px;
    font-size: 12px;     
    color: #2E9AFE;
    }*/
    
table {
    border: 1px solid black;
    width: 1000px;
    font-size: 11px; 
    margin: 5px;
    border-spacing: 0px;
    }

table th {
    background-color: #6E6E6E;
    border: 1px solid black;
    padding: 0px;
    font-size: 12px; 
    color: #FFFFFF;
    text-align: center;
    border-spacing: 0px;
    }

table td {
    text-align: center;
    border: 1px solid black;
    border-spacing: 0px;
    }

table tr {
    background-color: #EEEEEE;
    border: 1px solid black;
    padding: 5px;
    border-spacing: 0px;
    }

.table_preview {
    margin-top: 30px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    }
    
.table_preview:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    }    

.print_button {
    background: url(/images/print48.png) no-repeat;
    text-align: 'center';
    vertical-align: 'baseline';
    border-radius: 8px;
    padding: 40px 4px 0px 4px;
    /*border: 2px solid #4CAF50;*/
    height: 70px;
    width: 50px;

    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    }    

.print_button:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    
.text_note {
    text-align: left;
    vertical-align: top;
    padding: 2px;
    }

.p_note {
    margin: 0px;
    }
    
.category_note {
    margin-top: 5px;
    background-color: #ffff99;
    text-align: center;
    /*border-bottom: 1px dotted #ff0000;*/
    }
    
/* COLORS: */
.fg_red {
    color: #FF0000;    
    font-size: 12px; 
    font-weight: bold;
    }

.bg_blue {
    background-color: #3399ff;
    }
    

